@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #111111;
    overflow-x: hidden;
    color: rgb(202, 219, 219);
    
}

*{
   /* border: 05px solid red;*/
}

.gsc-results-wrapper-overlay{
    width: 100% !important;
   position: relative !important;
   margin: 0px !important;
   left: 0 !important;
   height: 100% !important;
   margin-top: 40px !important;
   display: block !important;
}

.gsc-modal-background-image{
    display: none !important;
    
}